<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
-->
</style>
<link href="main.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="450" border="0" cellpadding="10" cellspacing="0" id="head">
      <tr>
        <td width="150" align="center" bgcolor="#FFFF66">Course</td>
        <td width="150" align="center" bgcolor="#FFFF66">Notification</td>
        <td width="150" align="center" bgcolor="#FFFF66">Credits</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF66">
    <form id="form1" name="form1" method="post" action="">
      <table width="900" border="0" cellpadding="10" cellspacing="0" id="row3">
        <tr align="center">
          <td width="200"><label>
            <input type="text" name="keyword" id="keyword" />
          </label></td>
          <td width="250">Faculity
            <label>
              <select name="faculity" id="faculity">
                <option value="EG">Engineering</option>
                <option value="BA">Business Administration </option>
                <option value="IT">Information Technology</option>
              </select>
            </label></td>
          <td>Department
            <label>
              <select name="department" id="department">
                <option value="IT">IT</option>
                <option value="MT">MT</option>
                <option value="BI">BI</option>
                <option value="BA">BA</option>
                <option value="IM">IM</option>
                <option value="IB">IB</option>
                <option value="BJ">BJ</option>
                <option value="CE">CE</option>
                <option value="PE">PE</option>
                <option value="AE">AE</option>
                <option value="EE">EE</option>
                <option value="AC">AC</option>
              </select>
            </label></td>
          <td width="120">Years 
            <label>
              <select name="year" id="year">
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
              </select>
            </label></td>
          <td width="110">Semester 
            <label>
              <select name="semester" id="semester">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
            </label></td>
        </tr>
      </table>
    </form>
    </td>
  </tr>
  <tr>
    <td align="center" bgcolor="#FFFF66"><table width="900" border="1" cellpadding="10" cellspacing="0">
      <tr class="font1">
        <td width="100" align="center" bgcolor="#FFCC33">Code</td>
        <td width="200" align="center" bgcolor="#FFCC33">Name</td>
        <td width="100" align="center" bgcolor="#FFCC33">Credit</td>
        <td width="100" align="center" bgcolor="#FFCC33">Enrolled</td>
        <td width="150" align="center" bgcolor="#FFCC33">Status</td>
        <td align="center" bgcolor="#FFCC33">&nbsp;</td>
      </tr>
            {% for row in student  %}
      <tr>
        <td align="center"><a href="course_detail.html?emp_id={{ row[0]}} ?>">{{ row[0] }}</a></td>
        <td align="center">{{ row[0] }}</td>
        <td align="center">{{ row[0] }}</td>
        <td align="center">{{ row[0] }}</td>
        <td align="center">{{ row[0] }}</td>
        <td align="center">{{ row[0] }}</td>
      </tr>
      	    {% for row in student  %}
    </table></td>
  </tr>
  <tr>
    <td bgcolor="#FFFF66"><table width="900" border="0" cellpadding="10" cellspacing="0" id="footer">
      <tr>
        <td><a href="course_create.html">Create</a></td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>
</html>
